ul,li,h1,h3,form,body,html,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a:link, a:visited
{
  text-decoration: underline;
  color:#9C4797;
}

a:hover
{
  text-decoration: none;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

}

body
{
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}
div#header
{
  margin-left: auto;
  margin-right: auto;

  text-align: left;
  width: 100%;
  height: 82px;
  background: white url(../images/header_bar.gif) repeat-x top left;
}


div#header ul, div#footer ul
{
  list-style: none;
  display:inline;
  float:right;
  padding: 5px 5px;
  background: #d8732f url(../images/menu_left.gif) no-repeat left bottom;
  font-size: 11px;
}

div#header li, div#footer li, div#header form
{
  display: inline;
  list-style: none;
}

div#header li
{
  padding: 0 7px;
  font-weight: bold;
  border-right: solid 1px #fff;
}

div#header li.last
{
  border-right: none;
}


div#header .last input:focus, div#header .last input:hover
{
  background-color: white;
}

div#header li :link, div#header li :visited
{
  color:#fff;
}

div#content
{
  width:100%
}

div#content_main
{



  margin-left:10px;
  top:0;
}

div#content_bar
{

  background-color: white;


  margin:0px 10px 10px;
  padding:0px 5px 5px;
}

div#content_main h1
{
  margin: 0px;
  font-size:14px;
  font-family:Verdana, Arial, sans-serif;
  padding:5px 5px 5px 10px;
  color: #7E7E7E;
}

div#content_main h3
{
  font-size:14px;
  padding: 10px 0;
}

div#content_bar li
{
  padding: 0 0 0px 5px;
  list-style:none;
}

div#footer
{
  height:40px;
  left:0;
  width:96%;
  text-align: right;
  margin:10px 10px 0px 10px;
  padding:10px 10px 0px 10px;
}

div#search
{
  position:absolute;

  top:26px;
  right:0px;
  margin-right: 2px;
  padding:3px;
  text-align: right;
  float: right;
  clear: both;
  background-color: #F4F4F4;
}

input.searchterm
{
  border: solid 1px gray;
  width:150px;
  background-color: white;
}

div#indicator
{
  position: absolute;
  width: 100px;
  height: 40px;
  left: 10px;
  top: 10px;
  z-index: 900;
  background: url(../images/indicator.gif) no-repeat 0 0;
}

fieldset
{
  border: none;
}

.small
{
  font-size: 10px;
}

h1
{
  margin: 8px 0;
  padding: 3px;
  padding-left: 5px;
  color: #555;
  font-size: 16px;
  border: 0;
  background-color: #ffc;
}

div#home h1 {
color:#D8732F;
font-size: 18px;
font-style:normal;
padding-left:6px;
margin-left:-6px;
}

div#home {
background-color:#FFFFCC;

padding:6px;
margin-bottom:6px
}

table.rowDetail th {
font-weight: bold !important;
padding-right: 6px !important;
}
